.main {
  background: linear-gradient(145deg, red, white);
}

.main h1{
  text-align: center;
}

.collection {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.card img {
  width: 100px;
}